<div class="free-spn-dtl-cntnt">
	<div class="dshbrd-mdl">
		<div class="mdl-hdr">
			<div class="inf-hdr"><i class="fa fa-history"></i><span class="inf-title">Casino FreeSpin Details</span></div>
		</div>
		<div class="mdl-cntnt">
			<table class="dshbrd-tbl responsive-table">
				<thead>
					<tr>
						<th>Cashing Wagering Amount</th>
						<th>Remaining Cashing Wagering Amount</th>
						<th>Total Bonus Amount</th>
						<th>Currency</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>0</td>
						<td>0</td>
						<td>0</td>
						<td>TRY</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>