<footer class="page-footer clear" id="fc">
	<div class="footer-top">
		<div class="container"><i class="mastercard"></i><i class="astropay"></i><i class="bank-transfer"></i><i class="visa"></i><i class="neropay"></i><i class="jeton"></i><i class="anindahavale"></i><i class="hizlihavale"></i><i class="otopay"></i><i class="papara"></i><i class="paykasa"></i><i class="rocketpay"></i></div>
	</div>
	<div class="footer-middle">
		<div class="container"><i class="netent"></i><i class="xpro"></i><i class="bank-transfer"></i><i class="evolution"></i><i class="betgames"></i><i class="ezugi"></i></div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="footer-menu-wrapper">
				<div class="footer-menu">
					<h5>{{'About Us'|translate}}</h5>
					<ul>
						<li><a routerLink="/contents/about-us">{{'Company Details'|translate}}</a></li>
						<li><a routerLink="/contents/about-us-gen-terms-cond">{{'General Terms and Conditions'|translate}}</a></li>
						<li><a routerLink="/contents/about-us-responsible-gaming">{{'Responsible Gaming'|translate}}</a></li>
						<li><a routerLink="/contents/about-us-privacy-policy">{{'Privacy Policy'|translate}}</a></li>
						<li><a routerLink="/contents/about-us-terms-of-use">{{'Terms of Use'|translate}}</a></li>
						<li><a routerLink="/contents/about-us-contact">{{'Contact Us'|translate}}</a></li>
					</ul>
				</div>
				<div class="footer-menu">
					<h5>{{'Support'|translate}}</h5>
					<ul>
						<li><a routerLink="/contents/support-rules">{{'Terms'|translate}}</a></li>
						<li><a routerLink="/contents/support-faq">{{'FAQ (Frequently Asked Questions)'|translate}}</a></li>
						<li><a routerLink="/contents/support-withdrawal">{{'Money Withdrawal'|translate}}</a></li>
						<li><a routerLink="/contents/support-deposit">{{'Deposit'|translate}}</a></li>
						<li><a routerLink="/contents/support-payments">{{'Payments'|translate}}</a></li>
						<li><a routerLink="/contents/promotions">{{'Bonus'|translate}}</a></li>
						<li><a routerLink="/contents/complaints-suggestions">{{'Complaints and Suggestions'|translate}}</a></li>
						<li><a routerLink="/contents/cashout-content">{{'Cash Out'|translate}}</a></li>
					</ul>
				</div>
				<div class="footer-menu">
					<h5>{{'Main Sections'|translate}}</h5>
					<ul>
						<li><a routerLink="/games/livecasino">{{'Live Casino'|translate}}</a></li>
						<li><a routerLink="/games/casino">{{'Casino'|translate}}</a></li>
						<li><a routerLink="/games/betongames">{{'Betongames'|translate}}</a></li>
						<li><a routerLink="/games/bingo">{{'Live Bingo'|translate}}</a></li>
						<li><a routerLink="/contents/promotions">{{'Promotions'|translate}}</a></li>
						<li><a routerLink="/contents/promotions-general-rules">{{'General Bonus Rules'|translate}}</a></li>
					</ul>
				</div>
				<div class="footer-menu">
					<h5>{{'Contact Us'|translate}}</h5>
					<ul>
						<li><span>{{'You can forward all your questions and suggestions 24/7 to our live customer representatives.'|translate}}</span></li>
						<li><a href="mailto:destek@garanticasino.com"><b>{{'Customer Support'|translate}}</b> destek@garanticasino.com </a></li>
						<li><a href="mailto:affiliates@garanticasino.com"><b>{{'Bonus Support'|translate}}</b> bonus@garanticasino.com </a></li>
						<li><a href="mailto:affiliates@garanticasino.com"><b>{{'Advert Support'|translate}}</b> reklam@garanticasino.com </a></li>
					</ul>
				</div>
				<div class="footer-menu-right right">
					<div class="copyright"> © 2021 - hitent </div>
					<div class="trader-partner"><a class="age-limit" href="#"> +18 </a></div>
				</div>
			</div>
			<div class="social-media">
				<social-links></social-links>
			</div>
		</div>
	</div>

	<div class="scroll-top-btn left animated fadeInDown" scroll-top="" style="display: none;"><i class="fa fa-arrow-up"></i></div>
</footer>
<div class="container left-align clear"></div>
<app-static-inner-content contentcode="footer-for-setup"></app-static-inner-content>
