<div class="csno-pro-hstry-cntnt">
	<div class="dshbrd-mdl">
		<div class="mdl-hdr">
			<div class="inf-hdr"><i class="fa fa-history"></i><span class="inf-title">Casinopro History</span></div>
		</div>
		<div class="mdl-cntnt">
			<form novalidate="" class="ng-untouched ng-pristine ng-valid">
				<div class="row">
					<div class="col s12">
						<h5 class="frm-hdr">Select Date Interval</h5></div>
				</div>
				<div class="row">
					<div class="date-picker-field col s5">
						<label class="date-picker-mask active" for="casinoProHistoryStartDatePicker">
							<div class="picker" id="casinoProHistoryStartDatePicker_root" tabindex="0" aria-hidden="true">
								<div class="picker__holder">
									<div class="picker__frame">
										<div class="picker__wrap">
											<div class="picker__box">
												<div class="picker__date-display">
													<div class="picker__year-display">
														<div>2021</div>
													</div><span class="picker__weekday-display">Tue, </span><span class="picker__month-display">Apr </span><span class="picker__day-display">20</span></div>
												<div class="picker__container__wrapper">
													<div class="picker__calendar-container">
														<div class="picker__header">
															<div class="picker__month">April</div>
															<div class="picker__year">2021</div>
															<div class="picker__nav--prev" data-nav="-1" role="button" aria-controls="casinoProHistoryStartDatePicker_table" title="Previous month"> </div>
															<div class="picker__nav--next" data-nav="1" role="button" aria-controls="casinoProHistoryStartDatePicker_table" title="Next month"> </div>
														</div>
														<table class="picker__table" id="casinoProHistoryStartDatePicker_table" role="grid" aria-controls="casinoProHistoryStartDatePicker" aria-readonly="true">
															<thead>
																<tr>
																	<th class="picker__weekday" scope="col" title="Sunday">S</th>
																	<th class="picker__weekday" scope="col" title="Monday">M</th>
																	<th class="picker__weekday" scope="col" title="Tuesday">T</th>
																	<th class="picker__weekday" scope="col" title="Wednesday">W</th>
																	<th class="picker__weekday" scope="col" title="Thursday">T</th>
																	<th class="picker__weekday" scope="col" title="Friday">F</th>
																	<th class="picker__weekday" scope="col" title="Saturday">S</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1616878800000" role="gridcell" aria-label="28/03/2021" tabindex="0">28</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1616965200000" role="gridcell" aria-label="29/03/2021" tabindex="0">29</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1617051600000" role="gridcell" aria-label="30/03/2021" tabindex="0">30</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1617138000000" role="gridcell" aria-label="31/03/2021" tabindex="0">31</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617224400000" role="gridcell" aria-label="01/04/2021" tabindex="0">1</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617310800000" role="gridcell" aria-label="02/04/2021" tabindex="0">2</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617397200000" role="gridcell" aria-label="03/04/2021" tabindex="0">3</div>
																	</td>
																</tr>
																<tr>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617483600000" role="gridcell" aria-label="04/04/2021" tabindex="0">4</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617570000000" role="gridcell" aria-label="05/04/2021" tabindex="0">5</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617656400000" role="gridcell" aria-label="06/04/2021" tabindex="0">6</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617742800000" role="gridcell" aria-label="07/04/2021" tabindex="0">7</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617829200000" role="gridcell" aria-label="08/04/2021" tabindex="0">8</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617915600000" role="gridcell" aria-label="09/04/2021" tabindex="0">9</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618002000000" role="gridcell" aria-label="10/04/2021" tabindex="0">10</div>
																	</td>
																</tr>
																<tr>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618088400000" role="gridcell" aria-label="11/04/2021" tabindex="0">11</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618174800000" role="gridcell" aria-label="12/04/2021" tabindex="0">12</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618261200000" role="gridcell" aria-label="13/04/2021" tabindex="0">13</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618347600000" role="gridcell" aria-label="14/04/2021" tabindex="0">14</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618434000000" role="gridcell" aria-label="15/04/2021" tabindex="0">15</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618520400000" role="gridcell" aria-label="16/04/2021" tabindex="0">16</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618606800000" role="gridcell" aria-label="17/04/2021" tabindex="0">17</div>
																	</td>
																</tr>
																<tr>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618693200000" role="gridcell" aria-label="18/04/2021" tabindex="0">18</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618779600000" role="gridcell" aria-label="19/04/2021" tabindex="0">19</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus picker__day--selected picker__day--highlighted" data-pick="1618866000000" role="gridcell" aria-label="20/04/2021" aria-selected="true" aria-activedescendant="true" tabindex="0">20</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus picker__day--today" data-pick="1618952400000" role="gridcell" aria-label="21/04/2021" tabindex="0">21</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619038800000" role="gridcell" aria-label="22/04/2021" tabindex="0">22</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619125200000" role="gridcell" aria-label="23/04/2021" tabindex="0">23</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619211600000" role="gridcell" aria-label="24/04/2021" tabindex="0">24</div>
																	</td>
																</tr>
																<tr>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619298000000" role="gridcell" aria-label="25/04/2021" tabindex="0">25</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619384400000" role="gridcell" aria-label="26/04/2021" tabindex="0">26</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619470800000" role="gridcell" aria-label="27/04/2021" tabindex="0">27</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619557200000" role="gridcell" aria-label="28/04/2021" tabindex="0">28</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619643600000" role="gridcell" aria-label="29/04/2021" tabindex="0">29</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619730000000" role="gridcell" aria-label="30/04/2021" tabindex="0">30</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1619816400000" role="gridcell" aria-label="01/05/2021" tabindex="0">1</div>
																	</td>
																</tr>
																<tr>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1619902800000" role="gridcell" aria-label="02/05/2021" tabindex="0">2</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1619989200000" role="gridcell" aria-label="03/05/2021" tabindex="0">3</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1620075600000" role="gridcell" aria-label="04/05/2021" tabindex="0">4</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1620162000000" role="gridcell" aria-label="05/05/2021" tabindex="0">5</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1620248400000" role="gridcell" aria-label="06/05/2021" tabindex="0">6</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1620334800000" role="gridcell" aria-label="07/05/2021" tabindex="0">7</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1620421200000" role="gridcell" aria-label="08/05/2021" tabindex="0">8</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="picker__footer">
														<button class="btn-flat picker__today waves-effect" type="button" data-pick="1618952400000" disabled="" aria-controls="casinoProHistoryStartDatePicker">Today</button>
														<button class="btn-flat picker__clear waves-effect" type="button" data-clear="1" disabled="" aria-controls="casinoProHistoryStartDatePicker">Clear</button>
														<button class="btn-flat picker__close waves-effect" type="button" data-close="true" disabled="" aria-controls="casinoProHistoryStartDatePicker">Ok</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<input id="casinoProHistoryStartDatePicker" materialize="pickadate" tabindex="-1" type="text" class="ng-untouched ng-pristine ng-valid picker__input" readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="casinoProHistoryStartDatePicker_root"><i aria-hidden="true" class="fa fa-calendar"></i></label>
						<input class="datepicker browser-default ng-untouched ng-pristine ng-valid" minlength="10" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" required="" tabindex="1" type="text">
					</div>
					<div class="date-picker-field col s5">
						<label class="date-picker-mask active" for="casinoProHistoryEndDatePicker">
							<div class="picker" id="casinoProHistoryEndDatePicker_root" tabindex="0" aria-hidden="true">
								<div class="picker__holder">
									<div class="picker__frame">
										<div class="picker__wrap">
											<div class="picker__box">
												<div class="picker__date-display">
													<div class="picker__year-display">
														<div>2021</div>
													</div><span class="picker__weekday-display">Wed, </span><span class="picker__month-display">Apr </span><span class="picker__day-display">21</span></div>
												<div class="picker__container__wrapper">
													<div class="picker__calendar-container">
														<div class="picker__header">
															<div class="picker__month">April</div>
															<div class="picker__year">2021</div>
															<div class="picker__nav--prev" data-nav="-1" role="button" aria-controls="casinoProHistoryEndDatePicker_table" title="Previous month"> </div>
															<div class="picker__nav--next" data-nav="1" role="button" aria-controls="casinoProHistoryEndDatePicker_table" title="Next month"> </div>
														</div>
														<table class="picker__table" id="casinoProHistoryEndDatePicker_table" role="grid" aria-controls="casinoProHistoryEndDatePicker" aria-readonly="true">
															<thead>
																<tr>
																	<th class="picker__weekday" scope="col" title="Sunday">S</th>
																	<th class="picker__weekday" scope="col" title="Monday">M</th>
																	<th class="picker__weekday" scope="col" title="Tuesday">T</th>
																	<th class="picker__weekday" scope="col" title="Wednesday">W</th>
																	<th class="picker__weekday" scope="col" title="Thursday">T</th>
																	<th class="picker__weekday" scope="col" title="Friday">F</th>
																	<th class="picker__weekday" scope="col" title="Saturday">S</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1616878800000" role="gridcell" aria-label="28/03/2021" tabindex="0">28</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1616965200000" role="gridcell" aria-label="29/03/2021" tabindex="0">29</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1617051600000" role="gridcell" aria-label="30/03/2021" tabindex="0">30</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1617138000000" role="gridcell" aria-label="31/03/2021" tabindex="0">31</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617224400000" role="gridcell" aria-label="01/04/2021" tabindex="0">1</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617310800000" role="gridcell" aria-label="02/04/2021" tabindex="0">2</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617397200000" role="gridcell" aria-label="03/04/2021" tabindex="0">3</div>
																	</td>
																</tr>
																<tr>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617483600000" role="gridcell" aria-label="04/04/2021" tabindex="0">4</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617570000000" role="gridcell" aria-label="05/04/2021" tabindex="0">5</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617656400000" role="gridcell" aria-label="06/04/2021" tabindex="0">6</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617742800000" role="gridcell" aria-label="07/04/2021" tabindex="0">7</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617829200000" role="gridcell" aria-label="08/04/2021" tabindex="0">8</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1617915600000" role="gridcell" aria-label="09/04/2021" tabindex="0">9</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618002000000" role="gridcell" aria-label="10/04/2021" tabindex="0">10</div>
																	</td>
																</tr>
																<tr>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618088400000" role="gridcell" aria-label="11/04/2021" tabindex="0">11</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618174800000" role="gridcell" aria-label="12/04/2021" tabindex="0">12</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618261200000" role="gridcell" aria-label="13/04/2021" tabindex="0">13</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618347600000" role="gridcell" aria-label="14/04/2021" tabindex="0">14</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618434000000" role="gridcell" aria-label="15/04/2021" tabindex="0">15</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618520400000" role="gridcell" aria-label="16/04/2021" tabindex="0">16</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618606800000" role="gridcell" aria-label="17/04/2021" tabindex="0">17</div>
																	</td>
																</tr>
																<tr>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618693200000" role="gridcell" aria-label="18/04/2021" tabindex="0">18</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618779600000" role="gridcell" aria-label="19/04/2021" tabindex="0">19</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1618866000000" role="gridcell" aria-label="20/04/2021" tabindex="0">20</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus picker__day--today picker__day--selected picker__day--highlighted" data-pick="1618952400000" role="gridcell" aria-label="21/04/2021" aria-selected="true" aria-activedescendant="true" tabindex="0">21</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619038800000" role="gridcell" aria-label="22/04/2021" tabindex="0">22</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619125200000" role="gridcell" aria-label="23/04/2021" tabindex="0">23</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619211600000" role="gridcell" aria-label="24/04/2021" tabindex="0">24</div>
																	</td>
																</tr>
																<tr>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619298000000" role="gridcell" aria-label="25/04/2021" tabindex="0">25</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619384400000" role="gridcell" aria-label="26/04/2021" tabindex="0">26</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619470800000" role="gridcell" aria-label="27/04/2021" tabindex="0">27</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619557200000" role="gridcell" aria-label="28/04/2021" tabindex="0">28</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619643600000" role="gridcell" aria-label="29/04/2021" tabindex="0">29</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--infocus" data-pick="1619730000000" role="gridcell" aria-label="30/04/2021" tabindex="0">30</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1619816400000" role="gridcell" aria-label="01/05/2021" tabindex="0">1</div>
																	</td>
																</tr>
																<tr>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1619902800000" role="gridcell" aria-label="02/05/2021" tabindex="0">2</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1619989200000" role="gridcell" aria-label="03/05/2021" tabindex="0">3</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1620075600000" role="gridcell" aria-label="04/05/2021" tabindex="0">4</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1620162000000" role="gridcell" aria-label="05/05/2021" tabindex="0">5</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1620248400000" role="gridcell" aria-label="06/05/2021" tabindex="0">6</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1620334800000" role="gridcell" aria-label="07/05/2021" tabindex="0">7</div>
																	</td>
																	<td role="presentation">
																		<div class="picker__day picker__day--outfocus" data-pick="1620421200000" role="gridcell" aria-label="08/05/2021" tabindex="0">8</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
													<div class="picker__footer">
														<button class="btn-flat picker__today waves-effect" type="button" data-pick="1618952400000" disabled="" aria-controls="casinoProHistoryEndDatePicker">Today</button>
														<button class="btn-flat picker__clear waves-effect" type="button" data-clear="1" disabled="" aria-controls="casinoProHistoryEndDatePicker">Clear</button>
														<button class="btn-flat picker__close waves-effect" type="button" data-close="true" disabled="" aria-controls="casinoProHistoryEndDatePicker">Ok</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<input id="casinoProHistoryEndDatePicker" materialize="pickadate" tabindex="-1" type="text" class="ng-untouched ng-pristine ng-valid picker__input" readonly="" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="casinoProHistoryEndDatePicker_root"><i aria-hidden="true" class="fa fa-calendar"></i></label>
						<input class="datepicker browser-default ng-untouched ng-pristine ng-valid" minlength="10" pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" required="" tabindex="1" type="text">
					</div>
					<div class="input-field col s2">
						<button class="btn w100" type="submit">Search</button>
					</div>
				</div>
			</form>
			<div class="type-btn-grp">
				<button class="btn bg stts- fltr-btn active"><i class="fa fa-times stts-"></i><i class="stts-">All</i></button>
				<button class="btn bg stts-W fltr-btn"><i class="fa fa-times stts-W"></i><i class="stts-W">Win</i></button>
				<button class="btn bg stts-L fltr-btn"><i class="fa fa-times stts-L"></i><i class="stts-L">Loss</i></button>
			</div>
		</div>
	</div>
	<message-box content="MESSAGES.NO_DATA_FOUND" icon="fa fa-exclamation-circle" type="error"></message-box>
</div>