<div class="tckn-verification-modal modal modal-md open" materialize="modal" style="z-index: 1027;">
    <tckn-verification type="openGame"></tckn-verification>
</div>
<div accordion class="modul-accordion populer-events">
    <div class="modul-header"><span class="header-text"> Live Casino </span><i class="fa fa-caret-down right"></i></div>
    <div class="modul-content">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="col s6 m4 l3 csn-crd-col">
                        <div class="csn-crd">
                            <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg" alt="Evolution Gaming Lobby"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                <div class="inf">
                                    <!---->
                                    <!---->
                                    <div class="popular">Popular</div>
                                </div>
                                <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/livecasino/32x32/evo.png"></div>
                                <!---->
                                <div class="hvr-inf">
                                    <div class="v-a">
                                        <!---->
                                        <!---->
                                        <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="crd-nm"> Evolution Gaming Lobby </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<div accordion class="modul-accordion populer-events">
    <div class="modul-header"><span class="header-text"> Live Casino </span><i class="fa fa-caret-down right"></i></div>
    <div class="modul-content">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="active">
                    <div class="csn-crd" style="">
                        <div class="crd-img"><img class="gm-img" src="{{static}}assets/images/casino/300x200/10613.jpg" alt="Flaming Hot"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif"><span class="inf"><!----><!----><span class="popular">Popular</span></span>
                            <div class="vndr"><img alt="" class="vndr-lg" src="{{static}}assets/images/casino/32x32/egt.png"></div>
                            <!---->
                            <div class="hvr-inf">
                                <div class="v-a"><a class="btn real" href="javascript:;"> Play Online </a>
                                <a class="btn free" href="javascript:;"> Free play </a></div>
                            </div>
                        </div>
                        <div class="crd-nm"> Flaming Hot </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>