<div class="top-controler clear">
	<div class="left live-tabs">
        <a class="btn left active" routerlinkactive="active" href="/en/bet/live">
            <i class="material-icons left">drag_handle</i> General View <!---->
            <a class="display-none" href="/en/bet/live/170"></a>
            <a class="display-none" href="/en/bet/live/282"></a>
            <a class="display-none" href="/en/bet/live/188"></a>
            <a class="display-none" href="/en/bet/live/284"></a>
            <a class="display-none" href="/en/bet/live/190"></a>
            <a class="display-none" href="/en/bet/live/168"></a>
            <a class="display-none" href="/en/bet/live/201"></a>
            <a class="display-none" href="/en/bet/live/210"></a>
            <a class="display-none" href="/en/bet/live/195"></a>
            <a class="display-none" href="/en/bet/live/167"></a>
            <a class="display-none" href="/en/bet/live/223"></a>
            <a class="display-none" href="/en/bet/live/169"></a>
		</a>
		<a class="btn left" href="/en/bet/live/detail/31989388">
            <i class="material-icons icon-rotate left">drag_handle</i> Match View 
        </a>
        <a class="btn left" routerlinkactive="active" href="/en/bet/live/live-calendar">
            <i class="material-icons left">event</i> Livebet Calendar 
        </a>
    </div>
	<!---->
	<div class="left collapse-expand-content ng-scope"><a class="btn expand-all left" href="javascript:;"><i class="fa fa-angle-up fa-fw"></i></a></div>
	<!---->
	<div class="search-bar-container right">
		<!---->
		<div class="input-field"><i class="fa fa-search prefix active"></i>
			<input class="browser-default ng-untouched ng-pristine ng-valid" type="text" placeholder="Search Live Bet">
		</div>
	</div>
</div>