<div class="dshbrd-mdl">
    <div class="mdl-hdr">
        <div class="inf-hdr"><i aria-hidden="true" class="fa fa-credit-card-alt"></i><span class="inf-title">Exchange Calculator</span></div>
    </div>
    <div class="mdl-cntnt">
        <form novalidate="" class="ng-untouched ng-pristine ng-valid">
            <div class="row">
                <div class="col s3">
                    <div class="select-field">
                        <select class="browser-default ng-untouched ng-pristine ng-valid" id="from" materialize="material_select" name="from">
                            <option disabled="" value="null">Select Currency</option>
                            <option value="7">Ugandan Shilling</option>
                            <option value="391">Sierra Leonean Leone</option>
                            <option value="8">Leke</option>
                            <option value="72">Lempira</option>
                            <option value="9">Ruble</option>
                            <option value="10">Tenge</option>
                            <option value="11">Manat</option>
                            <option value="12">Real Brasileiro</option>
                            <option value="76">Indian Rupee</option>
                            <option value="85">Som</option>
                            <option value="23">Kenyan Shilling</option>
                            <option value="151">Tanzanian Shilling</option>
                            <option value="88">Lebanese Pound</option>
                            <option value="90">Swiss Franc</option>
                            <option value="92">Denar</option>
                            <option value="95">Mexican Peso</option>
                            <option value="160">Moroccan Dirham</option>
                            <option value="161">Zambian Kwacha</option>
                            <option value="101">New Zealand Dollar</option>
                            <option value="37">Argentine Peso</option>
                            <option value="39">Australian Dollar</option>
                            <option value="105">Norwegian Krone</option>
                            <option value="45">Boliviano</option>
                            <option value="110">Sol</option>
                            <option value="177">CFA Franc BEAC</option>
                            <option value="50">Riel</option>
                            <option value="51">Canadian Dollar</option>
                            <option value="53">Chilean Peso</option>
                            <option value="54">Yuan Renminbi</option>
                            <option value="118">Singapore Dollar</option>
                            <option value="121">Rand</option>
                            <option value="123">Swedish Krona</option>
                            <option value="124">Naira</option>
                            <option value="125">Grivna</option>
                            <option value="1">Turkish Lira</option>
                            <option value="2">Great Britain Pound</option>
                            <option value="3">United States Dollar</option>
                            <option value="4">Euro</option>
                            <option value="132">Peso Uruguayo</option>
                            <option value="5">Ghana Cedi</option>
                            <option value="133">Uzbekistan Sum</option>
                            <option value="6">Poland</option>
                        </select>
                    </div>
                </div>
                <div class="col s3">
                    <div class="select-field">
                        <select class="browser-default ng-untouched ng-pristine ng-valid" id="to" materialize="material_select" name="to">
                            <option disabled="" value="null">Select Currency</option>
                            <option value="7">Ugandan Shilling</option>
                            <option value="391">Sierra Leonean Leone</option>
                            <option value="8">Leke</option>
                            <option value="72">Lempira</option>
                            <option value="9">Ruble</option>
                            <option value="10">Tenge</option>
                            <option value="11">Manat</option>
                            <option value="12">Real Brasileiro</option>
                            <option value="76">Indian Rupee</option>
                            <option value="85">Som</option>
                            <option value="23">Kenyan Shilling</option>
                            <option value="151">Tanzanian Shilling</option>
                            <option value="88">Lebanese Pound</option>
                            <option value="90">Swiss Franc</option>
                            <option value="92">Denar</option>
                            <option value="95">Mexican Peso</option>
                            <option value="160">Moroccan Dirham</option>
                            <option value="161">Zambian Kwacha</option>
                            <option value="101">New Zealand Dollar</option>
                            <option value="37">Argentine Peso</option>
                            <option value="39">Australian Dollar</option>
                            <option value="105">Norwegian Krone</option>
                            <option value="45">Boliviano</option>
                            <option value="110">Sol</option>
                            <option value="177">CFA Franc BEAC</option>
                            <option value="50">Riel</option>
                            <option value="51">Canadian Dollar</option>
                            <option value="53">Chilean Peso</option>
                            <option value="54">Yuan Renminbi</option>
                            <option value="118">Singapore Dollar</option>
                            <option value="121">Rand</option>
                            <option value="123">Swedish Krona</option>
                            <option value="124">Naira</option>
                            <option value="125">Grivna</option>
                            <option value="1">Turkish Lira</option>
                            <option value="2">Great Britain Pound</option>
                            <option value="3">United States Dollar</option>
                            <option value="4">Euro</option>
                            <option value="132">Peso Uruguayo</option>
                            <option value="5">Ghana Cedi</option>
                            <option value="133">Uzbekistan Sum</option>
                            <option value="6">Poland</option>
                        </select>
                    </div>
                </div>
                <div class="col s3">
                    <div class="input-field">
                        <input class="browser-default ng-untouched ng-pristine ng-valid" id="amount" name="amount" type="number" placeholder="Amount">
                    </div>
                </div>
                <div class="col s3">
                    <div class="input-field">
                        <button class="btn w100" disabled=""><i aria-hidden="true" class="fa fa-calculator"></i>Calculate</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>