<div class="trnsfr-cntnt">
    <div class="dshbrd-mdl">
        <div class="mdl-hdr">
            <div class="inf-hdr"><i aria-hidden="true" class="fa fa-credit-card-alt"></i><span class="inf-title">Transfer Between Accounts</span></div>
        </div>
        <div class="mdl-cntnt">
            <div class="trnsfr-cntnt">
                <div class="accnt-lst-wrp">
                    <div class="transfer-from">
                        <div class="title"> From this Account </div>
                        <div class="account-list"><a class="btn"><i class="material-icons">radio_button_unchecked</i><i class="material-icons check-circle">check_circle</i><span class="transfer-name">Sports Real Balance</span><!----><span class="money">0.20 ₺</span></a><a class="btn"><i class="material-icons">radio_button_unchecked</i><i class="material-icons check-circle">check_circle</i><span class="transfer-name">Casino Balance</span><!----><span class="money">30.30 ₺</span></a>
                        </div>
                    </div>
                    <div class="transfer-from">
                        <div class="title"> To this Account </div>
                        <div class="account-list"><a class="btn"><i class="material-icons">radio_button_unchecked</i><i class="material-icons check-circle">check_circle</i><span class="transfer-name">Sports Real Balance</span><!----><span class="money">0.20 ₺</span></a><a class="btn"><i class="material-icons">radio_button_unchecked</i><i class="material-icons check-circle">check_circle</i><span class="transfer-name">Casino Balance</span><!----><span class="money">30.30 ₺</span></a>
                        </div>
                    </div>
                    <div class="transfer-from">
                        <div class="payment-wrapper">
                            <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
                                <div class="input-field">
                                    <input class="browser-default ng-untouched ng-pristine ng-invalid" currency-mask="" debounce="700" type="text" placeholder="Enter amount"><i class="fa fa-database cashout-icon pg-icons" title="Cash Out"></i>
                                </div>
                                <div class="input-field w100 inline-block">
                                    <button class="btn transfer-btn right" disabled=""> Transfer </button>
                                    <button class="btn reset-btn right" type="button"> Reset </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <app-notifications></app-notifications>
        </div>
    </div>
    <exchange-calculator></exchange-calculator>
</div>