<div class="modal-content cashout-modal-main">
    <div class="dshbrd-mdl">
        <div class="mdl-hdr">
            <div class="inf-hdr">
                <h5 class="inf-title">Confirm Cash Out</h5><i class="fa fa-times close-modal"></i></div>
        </div>
        <div class="mdl-cntnt">
            <div class="info-field">
                <h5 class="inf-hdr">Cash Out Amount : NaN <span class="currency-symbol">₺</span></h5><span class="inf-cntnt"><!----><div class="suffix-field"><input class="filled-in ng-untouched ng-pristine ng-valid" id="tCAACheck" type="checkbox"><label for="tCAACheck">I accept amount changes.</label></div></span></div>
            <div class="footer-btn-grp">
                <button class="btn disagree-btn">Close</button>
                <button class="btn" disabled="">Confirm</button>
            </div>
        </div>
    </div>
</div>
