<div id="forgot-password">
	<div class="container">
		<div class="row">
			<div class="col s6 offset-s3 fotgot-pass-main">
				<h4> {{'Forgot Password'|translate}} </h4>
				<div class="rst-tbs">
					<div class="tb-itm" (click)="sendType = 'username'" [ngClass]="{
						'active': sendType == 'username'
					}">
						<input id="for-username" name="type" type="radio">
						<label for="for-username">{{'Send With Username'|translate}}</label>
					</div>
					<div class="tb-itm" (click)="sendType = 'email'" [ngClass]="{
						'active': sendType == 'email'
					}">
						<input id="for-email" name="type" type="radio">
						<label for="for-email">{{'Send With Email'|translate}}</label>
					</div>
				</div>
				<form action="#" class="login-form" novalidate="">
					<div class="input-field">
						<input *ngIf="sendType == 'username'" class="validate browser-default" name="username" type="text" placeholder="{{'Username'|translate}}" [(ngModel)]="username">
						<input *ngIf="sendType == 'email'" class="validate browser-default" name="email" type="text" placeholder="{{'Email'|translate}}" [(ngModel)]="email">
						<field-messages *ngIf="isSubmited && sendType == 'email' && email == ''" content="{{'This field can not be empty.'|translate}}"></field-messages>
						<field-messages *ngIf="isSubmited && sendType == 'username' && username == ''" content="{{'This field can not be empty.'|translate}}"></field-messages>
					</div>
					<button (click)="forgotPassword()" class="btn login-btn fbtn" [disabled]="sendType == 'email' && email == '' || sendType == 'username' && username == ''"> {{'Send activation code'|translate}} </button>
					<!---->
				</form>
				<!---->
			</div>
		</div>
	</div>
</div>