<ul class=" ">
    <li class="" *ngIf="getSettings().facebook">
        <a target="_blank" href="{{getSettings().facebook}}">
            <i class="fa fa-facebook-official fa-fw"></i>
            
        </a>
    </li>
    <li class="" *ngIf="getSettings().twitter">
        <a target="_blank" href="{{getSettings().twitter}}">
            <i class="fa fa-twitter-square fa-fw"></i>
            
        </a>
    </li>
    <li class="" *ngIf="getSettings().instagram">
        <a target="_blank" href="{{getSettings().instagram}}">
            <i class="fa fa-instagram fa-fw"></i>
            
        </a>
    </li>
    <li class="" *ngIf="getSettings().youtube">
        <a target="_blank" href="{{getSettings().youtube}}">
            <i class="fa fa-youtube fa-fw"></i>
            
        </a>
    </li>
    <li class="" *ngIf="getSettings().pinterest">
        <a target="_blank" href="{{getSettings().pinterest}}">
            <i class="fa fa-pinterest fa-fw"></i>
            
        </a>
    </li>
    
</ul>