<div class="dshbrd-mdl">
    <div class="mdl-hdr">
        <div class="inf-hdr"><span class="inf-title">Session Security Identity Number Control</span></div>
    </div>
    <div class="mdl-cntnt">
        <div class="tckn-vrfctn">
            <p>You need to enter the last 4 digits of your identity number for your security</p>
            <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
                <input class="browser-default ng-untouched ng-pristine ng-invalid" id="tckn" name="tckn" pattern="^[0-9]+$" required="" type="password" placeholder="Please enter last 4 digits of your identity number" minlength="4" maxlength="4">
                <!---->
                <div class="input-field">
                    <!---->
                    <!---->
                    <button class="btn" disabled="">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>