<div class="betongames-bg">
    <app-static-inner-content contentcode="betongames-content"></app-static-inner-content>
    <app-static-inner-content contentcode="betongames-top"></app-static-inner-content>
    <div class="container casino-cntr">
        <div class="row">
            <div class="col s12 right-content">
                <div class="flex-container clear">
                    <h4 class="rtitle flex-item"> TV Games </h4></div>
                <div class="gm-cntr">
                    <div class="row">
                        <div class="col pg-grd-6 csn-crd-col">
                            <div class="csn-crd">
                                <div class="crd-img"><img alt="" class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                    <div class="hvr-inf">
                                        <div class="v-a">
                                            <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crd-nm">
                                    <app-user-favorite classes="fvrt-lnk"></app-user-favorite> 1Bet </div>
                            </div>
                        </div>
                        <div class="col pg-grd-6 csn-crd-col">
                            <div class="csn-crd">
                                <div class="crd-img"><img alt="" class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                    <div class="hvr-inf">
                                        <div class="v-a">
                                            <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crd-nm">
                                    <app-user-favorite classes="fvrt-lnk">
                                    </app-user-favorite> Backgammon </div>
                            </div>
                        </div>
                        <div class="col pg-grd-6 csn-crd-col">
                            <div class="csn-crd">
                                <div class="crd-img"><img alt="" class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                    <div class="hvr-inf">
                                        <div class="v-a">
                                            <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crd-nm">
                                    <app-user-favorite classes="fvrt-lnk">
                                    </app-user-favorite> 5Bet </div>
                            </div>
                        </div>
                        <div class="col pg-grd-6 csn-crd-col">
                            <div class="csn-crd">
                                <div class="crd-img"><img alt="" class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                    <div class="hvr-inf">
                                        <div class="v-a">
                                            <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crd-nm">
                                    <app-user-favorite classes="fvrt-lnk">
                                    </app-user-favorite> FruitRace </div>
                            </div>
                        </div>
                        <div class="col pg-grd-6 csn-crd-col">
                            <div class="csn-crd">
                                <div class="crd-img"><img alt="" class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                    <div class="hvr-inf">
                                        <div class="v-a">
                                            <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crd-nm">
                                    <app-user-favorite classes="fvrt-lnk">
                                    </app-user-favorite> Poker </div>
                            </div>
                        </div>
                        <div class="col pg-grd-6 csn-crd-col">
                            <div class="csn-crd">
                                <div class="crd-img"><img alt="" class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                    <div class="hvr-inf">
                                        <div class="v-a">
                                            <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crd-nm">
                                    <app-user-favorite classes="fvrt-lnk">
                                    </app-user-favorite> Keno </div>
                            </div>
                        </div>
                        <div class="col pg-grd-6 csn-crd-col">
                            <div class="csn-crd">
                                <div class="crd-img"><img alt="" class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                    <div class="hvr-inf">
                                        <div class="v-a">
                                            <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crd-nm">
                                    <app-user-favorite classes="fvrt-lnk">
                                    </app-user-favorite> Jokerbet </div>
                            </div>
                        </div>
                        <div class="col pg-grd-6 csn-crd-col">
                            <div class="csn-crd">
                                <div class="crd-img"><img alt="" class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                    <div class="hvr-inf">
                                        <div class="v-a">
                                            <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crd-nm">
                                    <app-user-favorite classes="fvrt-lnk">
                                    </app-user-favorite> War Of Elements </div>
                            </div>
                        </div>
                        <div class="col pg-grd-6 csn-crd-col">
                            <div class="csn-crd">
                                <div class="crd-img"><img alt="" class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                    <div class="hvr-inf">
                                        <div class="v-a">
                                            <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crd-nm">
                                    <app-user-favorite classes="fvrt-lnk">
                                    </app-user-favorite> Lucky6 </div>
                            </div>
                        </div>
                        <div class="col pg-grd-6 csn-crd-col">
                            <div class="csn-crd">
                                <div class="crd-img"><img alt="" class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                    <div class="hvr-inf">
                                        <div class="v-a">
                                            <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crd-nm">
                                    <app-user-favorite classes="fvrt-lnk">
                                    </app-user-favorite> Wheelbet </div>
                            </div>
                        </div>
                        <div class="col pg-grd-6 csn-crd-col">
                            <div class="csn-crd">
                                <div class="crd-img"><img alt="" class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                    <div class="hvr-inf">
                                        <div class="v-a">
                                            <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crd-nm">
                                    <app-user-favorite classes="fvrt-lnk">
                                    </app-user-favorite> 7Bet </div>
                            </div>
                        </div>
                        <div class="col pg-grd-6 csn-crd-col">
                            <div class="csn-crd">
                                <div class="crd-img"><img alt="" class="gm-img" src="{{static}}assets/images/livecasino/300x200/247.jpg"><img alt="" class="gm-img loading" src="{{static}}assets/images/loading.gif">
                                    <div class="hvr-inf">
                                        <div class="v-a">
                                            <div class="rpt-rw"><a class="btn real" href="javascript:;"> Play Online </a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="crd-nm">
                                    <app-user-favorite classes="fvrt-lnk">
                                    </app-user-favorite> 21Bet </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-static-inner-content contentcode="tvgames-bottom"></app-static-inner-content>