<div class="modal" materialize="modal" style="z-index: 1005;">
	<tckn-verification type="openGame"></tckn-verification>
</div>
<div accordion="" class="modul-accordion populer-events">
    <div class="modul-header"><span class="header-text"> Mini Games </span><i class="fa fa-caret-down right"></i></div>
    <div class="modul-content">
        <!---->
        <div class="csn-crd">
            <div class="crd-img"><img alt="" class="gm-img loading" src="{{static}}assets/images/egt_games_tumb.jpg"></div>
        </div>
    </div>
</div>