<div class="bns-actvts-cntnt">
	<div class="dshbrd-mdl">
		<div class="mdl-hdr">
			<div class="inf-hdr"><i class="fa fa-gift fa-fw"></i><span class="inf-title">Bonus Transactions</span></div>
		</div>
		<div class="mdl-cntnt">
			<message-box content="MESSAGES.NO_BONUS_HISTORY_RECORD" type="error"></message-box>
		</div>
	</div>
	<app-static-inner-content contentcode="bonus_action"></app-static-inner-content>
	<div class="dshbrd-mdl">
		<div class="mdl-hdr">
			<div class="inf-hdr"><i class="fa fa-gift fa-fw"></i><span class="inf-title">Casinopro Bonus History</span></div>
		</div>
		<div class="mdl-cntnt">
			<message-box content="MESSAGES.NO_BONUS_HISTORY_RECORD" type="error"></message-box>
		</div>
	</div>
</div>