<div class="accnt-inf-cntnt">
	<div class="dshbrd-mdl">
		<div class="mdl-hdr">
			<div class="inf-hdr"><i class="material-icons">supervisor_account</i><span class="inf-title">Notifications and Settings</span></div>
		</div>
		<div class="mdl-cntnt">
			<form novalidate="" class="ng-untouched ng-pristine ng-valid">
				<div> I would like to receive e-mail notifications related to my deposit/withdraw requests
					<div class="switch">
						<label> Off
							<input type="checkbox" class="ng-untouched ng-pristine ng-valid"><span class="lever"></span> On </label>
					</div>
				</div>
				<div class="input-field">
					<button class="btn" type="submit" disabled="">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>