<div class="chng-psswrd-cntnt">
	<div class="dshbrd-mdl ">
		<div class="mdl-hdr">
			<div class="inf-hdr"><i class="fa fa-unlock-alt fa-fw"></i><span class="inf-title">{{'Change Password' | translate}}</span></div>
		</div>
		<div class="mdl-cntnt">
			<form name="changePasswordForm" novalidate="" class="ng-untouched ng-pristine ng-invalid" style="max-width: 500px;">
				<div class="input-field bubble">
					<input class="browser-default" id="current-password" name="currentPassword" name="current_password" required="" type="password" placeholder="{{'Old Password' | translate}} (*)">
					<password-eye el="current-password"></password-eye>
				</div>
				<div class="input-field bubble">
					<input class="browser-default" id="new-password" name="newPassword" required="" [(ngModel)]="password" type="password" placeholder="{{'New Password' | translate}} (*)">
					<bubble-validator></bubble-validator>
					<password-eye el="new-password"></password-eye>
				</div>
				<message-box *ngIf="msg != ''" content="MESSAGES.LOGIN_FAILD" contentText="{{msg}}" type="{{msgType}}"></message-box>
				<div class="input-field das-change-pass">
					<button class="btn" (click)="changePassword()" type="button">{{'Change' | translate}}</button>
				</div>
			</form>
		</div>
	</div>
</div>
